<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>login</h3>
{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <label for="username">Username: </label><br>
    <input type="text" name="username" ><br>
    <label for="">password</label><br>
    <input type="text" name="password"><br>
    <button type="submit">Login</button>
  </form>
{% endblock %}
</body>
</html>